<style>

body{
    position: static;
    width:100%;
	height: 100%;
  }
  
  h2,h5, p, img, aside {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
input{
    margin: .4rem 0;
    margin-left: 40px;
}
button{
    margin: .4rem 0;
}


/* HTML5 display-role reset for older browsers */


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


aside{
    float: left;
    width: 13%;
    text-align: left;
	color: #fff;
	font-weight: bolder;
    border: 10px red solid;
}

.card{
    background-color: rgb(246, 135, 50);
    padding: 10px;
    margin: 20px ;
	background:url("../assets/img/fire.PNG");
	
}

@media screen and (max-width: 800px) {
    aside{
        float:none;
        width:100%;
    }
    
    .card{
      padding: 10px;
      margin: 20px ;
    }
    
    img{
        width:180px;
        height: 180px;
    }
}

/* ---CSS reset is above--- */



.box{
	border-radius: 10%;
	background: #fee528;
	position: fixed;
	right:50px;
	bottom: 30px;
    z-index: 2;
}

.productList{
	width: 960px;
	margin: 120px auto;
	z-index: 1;

}

.productList img{
	width: 60%;
	margin-top: 30px;
	margin-left:30px;

}

.productList li{
	position: relative;
	float:left;
	width: 220px;
	height: 330px;
	border: 1px dotted orange;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding-right: 5px;
	padding-left: 10px;
}

.productList .sale{
	position: absolute;
	top:0;
	left:0;
	background: #c6482b;
	color:#fff;
	padding:8px;

}

.productList li h2{
	font-weight: bold;
	color: black;
	margin-bottom: 10px;
	margin-top: 30px;
}

.productList li span{
	color: red;
	font-size: 20px;
}

footer{
    background-color: #83C5BE;
    color: #444444;
    text-align: center;
    padding: 20px;
	margin-top: 600px;
	margin-bottom: 0px;
	width: 100%;

}


 </style>